<h1>Search Results</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_records.empty? %>
  <p>No records found. Try again to find a record you will love.</p>
<% else %>
  <% @search.search_records.each do |search| %>
  <br>
  <div class="div">
    <h2><%= search.name %></h2>
    <p>Artist: <%= search.artist %></p>
    <p>Year: <%= search.year %></p>
    <p>Description: <%= search.description %></p>
    <p>Price: <%= search.price.to_f / 100 %></p>
  </div>
  
  <% end %>
<% end %>